@{
    ViewBag.Title = "All";
}

<h2>Dashboard</h2>
<p>
    <h3>Customers</h3>
    <div>
        @Html.Partial("topkunalchart")
    </div>
</p>
<p>
    <h3>Products</h3>
    <div>
        @Html.Partial("topkunalpie")
    </div>
</p>